Body {
    color: black;
    font-family: cursive;
    background-color: crimson;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    background-image: url(../img/weeb.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}